<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<head>
    <meta charset="UTF-8">
    <title>Music Store</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Music Store</a>
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas bi-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" th:utext="@{'<i class=&quotbi bi-person&quot></i>' + ' ' + ${loggedUser}}"   th:href="@{'/users/edit?usrname=' + ${loggedUser}}"></a>
                <a class="nav-link" href="/products">Products</a>
                <a class="nav-link" th:href="@{'/orders/user/' + ${loggedUser}}"> My orders </a>
                <a class="nav-link" th:href="@{'/products/liked/' + ${loggedUser}}">Liked Products</a>

                <a class="nav-link" href="/orders">Orders</a>
                <a class="nav-link" href="/users">Users</a>

            </div>
        </div>
        <div class="justify-content-right">
            <a class="nav-link" href="/logout"><button class="btn btn-light btn-circle btn-circle-sm m-1">Logout   <i class="bi bi-box-arrow-right"></i></button></a>
        </div>

    </div>
</nav>

    <div  th:if="${messageTrue}" class="container py-3">
        <div class="alert alert-warning" th:text="${message}"></div>
    </div>

    <div th:if="${changedUserTrue}" class="container py-3">
        <div class="alert alert-success" th:text="${changedUserMsg}"></div>
    </div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to Music Store</h1>
        <p class="lead">Find your favourite music and buy it here.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Rock</h2>
            <p>Rock music is a genre of popular music that originated as "rock and roll" in the United States in the late 1940s and early 1950s, and developed into a range of different styles in the 1960s and later.</p>
            <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Rock_(geology)" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Pop</h2>
            <p>Pop music is a genre of popular music that originated in the 1950s as a softer alternative to rock and roll and later to rock music.</p>
            <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Pop" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Jazz</h2>
            <p>Jazz is a music genre that originated in the African-American communities of New Orleans, United States, in the late 19th and early 20th centuries, and developed from roots in blues and ragtime.</p>
            <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Jazz" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>
    $(function(){
        $("#nav-placeholder").load("nav.html");
    });
</script>
</body>
</html>