<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!-- NAVBAR -->
<div th:insert="~{navbar}"></div>




<div class="container">
<h1> Create Product </h1>
<div th:if="${error}" class="alert alert-danger">
  <span th:text="${errorMsg}"> </span>
</div>


<!-- form děla automaticky POST -->
<form th:action="@{'/products/create'}" method="post" th:object="${product}">
  <input  type="hidden" th:field="*{id}">
  <div>
    <label for="product_name"> Name of the product </label>
    <input type="text" id="product_name" name="product_name" class="form-control" placeholder="Name" th:field="*{product_name}">
    <p th:if="${#fields.hasErrors('product_name')}" class="text-danger" th:errorclass="error" th:errors="*{product_name}"/>
  </div>
  <div>
    <label for="price"> Price </label>
    <input type="text" id="price" name="price" class="form-control" placeholder="Price (CZK)" th:field="*{price}">
    <p th:if="${#fields.hasErrors('price')}" class="text-danger" th:errorclass="error" th:errors="*{price}"/>
  </div>

  <div>
    <label for="discount"> Discount </label>
    <input type="text" id="discount" name="discount" class="form-control"  placeholder="Discount (%)" th:field="*{discount}">
    <p th:if="${#fields.hasErrors('discount')}" class="text-danger" th:errorclass="error" th:errors="*{discount}"/>
  </div>

  <input type="submit" class="btn btn-primary">
  <input type="reset" class="btn btn-secondary">
</form>
</div>
</body>
</html>