<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<head>
  <meta charset="UTF-8">
  <title>Products Edit - Music Store</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Music Store</a>
    <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <i class="fas bi-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" th:utext="@{'<i class=&quotbi bi-person&quot></i>' + ' ' + ${loggedUser}}"   th:href="@{'/users/edit?usrname=' + ${loggedUser}}"></a>
        <a class="nav-link" href="/products">Products</a>
        <a class="nav-link" th:href="@{'/orders/user/' + ${loggedUser}}"> My orders </a>
        <a class="nav-link" th:href="@{'/products/liked/' + ${loggedUser}}">Liked Products</a>

        <a class="nav-link" href="/orders">Orders</a>
        <a class="nav-link" href="/users">Users</a>

      </div>
    </div>
    <div class="justify-content-right">
      <a class="nav-link" href="/logout"><button class="btn btn-light btn-circle btn-circle-sm m-1">Logout   <i class="bi bi-box-arrow-right"></i></button></a>
    </div>

  </div>
</nav>


<div class="container">
  <h1> Product Edit </h1>
  <div th:if="${error}" class="alert alert-danger">
    <span th:text="${errorMsg}"> </span>
  </div>
  <!-- form děla automaticky POST -->
  <form th:action="@{'/products/edit?id=' + ${product.id}}" method="post" th:object="${product}">
    <input type="hidden" th:field="*{id}">
    <div>
      <label for="product_name"> Name of the product </label>
      <input type="text" id="product_name" name="product_name" class="form-control" th:field="*{product_name}">
      <p th:errors = "*{product_name}" class="text-danger" th:if="${#fields.hasErrors('product_name')}"></p>
    </div>
    <div>
      <label for="price"> Price </label>
      <input type="text" id="price" name="price" class="form-control" th:field="*{price}">
      <p th:if="${#fields.hasErrors('price')}" class="text-danger" th:errorclass="error" th:errors="*{price}"/>
    </div>

    <div>
      <label for="price"> Discount (%) </label>
      <input type="text" id="discount" name="discount" class="form-control" th:field="*{discount}">
      <p th:if="${#fields.hasErrors('discount')}" class="text-danger" th:errorclass="error" th:errors="*{discount}"/>
    </div>

    <input type="submit" class="btn btn-primary">
    <input type="reset" class="btn btn-secondary">
  </form>
</div>
</body>
</html>