<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<head>
    <meta charset="UTF-8">
    <title>Music Store</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Music Store</a>
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas bi-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/users"><i class="bi bi-person"></i> User</a>
                <a class="nav-link" href="/products">Products</a>
                <a class="nav-link" href="/orders">Orders</a>
                <a class="nav-link" href="/liked">Liked Products</a>
            </div>
        </div>
    </div>
</nav>
<div th:if="${deleted}" class="container alert alert-success">
    <strong> Success! </strong><span th:text="${deleteMessage}"> </span>

</div>

    <section class="intro">
        <div class="gradient-custom-1 h-100">
            <div class="mask d-flex align-items-center h-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="table-responsive bg-white">
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col">USERS</th>
                                        <th scope="col">NAME</th>
                                        <th scope="col">CONTACTS</th>
                                        <th scope="col">ADDRESS</th>
                                        <th scope="col">ROLE</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${allUsers}">
                                        <th th:text="${user.username}"></th>
                                        <td th:text="${user.name} + ' ' + ${user.surname}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.address}"></td>
                                        <td th:text="${user.role}"></td>
                                        <td>
                                            <a href="#" th:href="@{'/users/edit?usrname=' + ${user.username}}"><button class="btn btn-secondary btn-circle btn-circle-sm m-1"><i class="bi-wrench"></i></button></a>

                                        </td>
                                        <td>
                                            <form action="#" th:action="@{'users/delete?id=' + ${user.id}}" th:method="delete" >
                                                <input type="hidden" name="_method" value="delete" />
                                                <button type="submit" id="submitButton" class="btn btn-danger btn-circle btn-circle-sm m-1"><i class="bi bi-trash"></i> </button>
                                            </form>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>