<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<head>
    <meta charset="UTF-8">
    <title>Music Store</title>
</head>
<body>

<!-- NAVBAR -->
<div th:insert="~{navbar}"></div>


<div th:if="${deleted}" class="container alert alert-success">
    <strong> Success! </strong><span th:text="${deleteMessage}"> </span>

</div>

    <section class="intro">
        <div class="gradient-custom-1 h-100">
            <div class="mask d-flex align-items-center h-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="table-responsive bg-white">
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">USERS</th>
                                        <th scope="col">NAME</th>
                                        <th scope="col">CONTACTS</th>
                                        <th scope="col">ADDRESS</th>
                                        <th scope="col">ROLE</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${allUsers}">
                                        <th th:text="${user.id}"></th>
                                        <th th:text="${user.username}"></th>
                                        <td th:text="${user.name} + ' ' + ${user.surname}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.address}"></td>
                                        <td th:text="${user.role}"></td>
                                        <td>
                                            <a href="#" th:href="@{'/users/edit?usrname=' + ${user.username}}"><button class="btn btn-secondary btn-circle btn-circle-sm m-1"><i class="bi-wrench"></i></button></a>

                                        </td>
                                        <td>
                                            <form action="#" th:action="@{'users/delete?id=' + ${user.id}}" th:method="delete" >
                                                <input type="hidden" name="_method" value="delete" />
                                                <button type="submit" id="submitButton" class="btn btn-danger btn-circle btn-circle-sm m-1"><i class="bi bi-trash"></i> </button>
                                            </form>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>